

h1{margin-bottom: 0rem;
  padding-left: 40px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top: 10px;}

p{
  margin-top: 0;
    margin-bottom: 0px;
    margin-left: 15px;
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}
